<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_partials/head.ejs') %>
  <link href="/css/themes/green-light.css" rel="stylesheet" id="theme-style">
</head>
<body class="fixed-navbar fixed-layout">

  <div class="page-wrapper">
    <%- include('../_partials/navbar.ejs') %>
    <%- include('../_partials/sidebar.ejs') %>

    <div class="content-wrapper">
      <div class="page-heading">
        <h1 class="page-title">Kas Keluar</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
          </li>
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Kas Keluar</li>
        </ol>
      </div>
      <div class="page-content fade-in-up">
        <%- include('../_partials/message.ejs') %>
        <div class="ibox">
          <div class="ibox-head">
            <div class="ibox-title">Data Kas Keluar</div>
            <div class="btn-wrapper">
              <a class="btn btn-success btn-add" href="#" data-toggle="modal" data-target="#modalCashOut">
                <i class="fa fa-pencil"></i>
                <span>Tambah</span>
              </a>
            </div>
          </div>
          <div class="ibox-body">
            <table class="table table-bordered table-responsive" id="dataTables">
              <thead class="thead-default">
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>Keterangan</th>
                  <th>Jumlah</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% cashOut.forEach((item, index) => { %>
                <tr>
                  <td><%= ++index %></td>
                  <td><%= item.date.toISOString().substring(0, 10).replace(/\-/g, '/') %></td>
                  <td><%= item.description %></td>
                  <td class="text-right"><%= helpers.currencyFormatter(item.amount) %>,-</td>
                  <td class="text-center">
                    <a class="btn btn-warning btn-edit mr-1" href="#" data-toggle="modal" data-target="#modalCashOut" data-id="<%= item.id %>" data-date="<%= item.date.toISOString().substring(0, 10) %>" data-amount="<%= item.amount %>" data-description="<%= item.description %>">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="/admin/cash-in/<%= item._id %>" onclick="return confirm('Yakin ingin menghapus data kas ini?')">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
              <tfoot>
                <tr class="bg-light font-weight-bold">
                  <td colspan="3">Total Kas Keluar</td>
                  <td class="text-right"><%= helpers.currencyFormatter(totalCashOut) %>,-</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <!-- Modal Add Cash-In -->
      <div class="modal fade" id="modalCashOut" tabindex="-1" aria-labelledby="modalCashOutLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCashOutLabel">Tambah Kas Masuk</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/admin/cash-in" method="POST" id="formCashOut">
              <div class="modal-body">
                <div class="form-group">
                  <label for="date">Tanggal</label>
                  <input type="date" class="form-control" name="date" id="date">
                </div>
                <div class="form-group">
                  <label for="amount">Jumlah</label>
                  <input type="number" class="form-control" name="amount" id="amount">
                </div>
                <div class="form-group">
                  <label for="description">Keterangan</label>
                  <textarea class="form-control" name="description" id="description" cols="30" rows="6"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="hidden" name="id" id="cashOutId">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer;">Tutup</button>
                <button type="submit" class="btn btn-primary" id="btnModalForm" style="cursor: pointer;">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <%- include('../_partials/footer.ejs') %>
    </div>
  </div>

  <%- include('../_partials/preloader.ejs') %>
  <%- include('../_partials/scripts.ejs') %>

<script>
  $(document).ready( function () {
    $('#dataTables').DataTable();

    const btnAddCashOut = document.querySelector('.btn-add');
    const btnEditCashOut = document.querySelectorAll('.btn-edit');

    const modalCashOutLabel = document.querySelector('#modalCashOutLabel');
    const btnModalForm = document.querySelector('#btnModalForm');

    const cashOutId = document.querySelector('#cashOutId');
    const date = document.querySelector('#date');
    const amount = document.querySelector('#amount');
    const description = document.querySelector('#description');

    const formCashOut = document.querySelector('#formCashOut');

    btnAddCashOut.addEventListener('click', () => {
      formCashOut.setAttribute('action', '/admin/cash-out');
      modalCashOutLabel.textContent = 'Tambah Kas Keluar';
      btnModalForm.textContent = 'Simpan';

      cashOutId.value = '';
      date.value = new Date().toISOString().substring(0, 10);
      amount.value = '';
      description.value = '';
    });

    btnEditCashOut.forEach((element) => {
      element.addEventListener('click', () => {
        formCashOut.setAttribute('action', '/admin/cash-out?_method=PUT');
        modalCashOutLabel.textContent = 'Ubah Kas Keluar';
        btnModalForm.textContent = 'Ubah';

        cashOutId.value = element.dataset.id;
        date.value = element.dataset.date;
        amount.value = element.dataset.amount;
        description.value = element.dataset.description;
      });
    });
  });
</script>

</body>
</html>
