<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_partials/head.ejs') %>
  <link href="/css/themes/green-light.css" rel="stylesheet" id="theme-style">
</head>
<body class="fixed-navbar fixed-layout">

  <div class="page-wrapper">
    <%- include('../_partials/navbar.ejs') %>
    <%- include('../_partials/sidebar.ejs') %>

    <div class="content-wrapper">
      <div class="page-heading">
        <h1 class="page-title">Rekapitulasi Kas</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
          </li>
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Rekapitulasi Kas</li>
        </ol>
      </div>
      <div class="page-content fade-in-up">
        <div class="ibox">
          <div class="ibox-head">
            <div class="ibox-title">Data Rekapitulasi Kas</div>
            <div class="btn-wrapper d-flex">
              <div class="filter mr-2">
                <%
                  const today = new Date();
                  const year = today.getFullYear();
                  const month = today.getMonth() + 1;
                %>
                <div class="input-group">
                  <input class="form-control" type="month" value="<%= `${year}-${month}` %>">
                </div>
              </div>
              <a class="btn btn-secondary btn-print" href="#">
                <i class="fa fa-print"></i>
                <span>Cetak Laporan</span>
              </a>
            </div>
          </div>
          <div class="ibox-body">
            <table class="table table-bordered table-responsive">
              <thead class="thead-default">
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>Keterangan</th>
                  <th class="text-center">Kas Masuk</th>
                  <th class="text-center">Kas Keluar</th>
                  <th class="text-center">Saldo</th>
                </tr>
              </thead>
              <tbody>
                <% cashes.forEach((cash, index) => { %>
                <tr>
                  <td><%= ++index %></td>
                  <td><%= cash.date.toISOString().substring(0, 10).replace(/\-/g, '/') %></td>
                  <td><%= cash.description %></td>
                  <td class="text-<%= (cash.type === 'cash-in') ? 'right' : 'center' %>"><%= (cash.type === 'cash-in') ? `${helpers.currencyFormatter(cash.amount)},-` : '-' %></td>
                  <td class="text-<%= (cash.type === 'cash-out') ? 'right' : 'center' %>"><%= (cash.type === 'cash-out') ? `${helpers.currencyFormatter(cash.amount)},-` : '-' %></td>
                  <td class="text-right">Rp 200.000,-</td>
                </tr>
                <% }) %>
              </tbody>
              <tfoot>
                <tr class="bg-light font-weight-bold">
                  <td class="text-center" colspan="3">Total</td>
                  <td class="text-right">Rp 200.000,-</td>
                  <td class="text-right">Rp 200.000,-</td>
                  <td class="text-right">Rp 200.000,-</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      
      <%- include('../_partials/footer.ejs') %>
    </div>
  </div>

  <%- include('../_partials/preloader.ejs') %>
  <%- include('../_partials/scripts.ejs') %>

<script>
  $(document).ready( function () {
    $('#dataTables').DataTable();

    var array = [{
        title: "a",
        date: "2020-12-29"
      }, {
        title: "b",
        date: "2020-12-7"
      }, {
        title: "c",
        date: "2020-12-12"
      }, {
        title: "leave",
        date: "2020-11-11"
      }, {
        title: "d",
        date: "2020-11-7"
      }],
      currentMonth = new Date().getMonth() + 1,
      currentYear = new Date().getFullYear(),
      events = array.filter(e => {
        var [year, month] = e.date.split('-'); // Or, var month = e.date.split('-')[1];
        return (currentMonth === +month) && (currentYear == year);
      });
    console.log(events);
  });
</script>

</body>
</html>
